{% extends 'base.html.twig' %}

{% block body %}
    <section>
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h2>
                        {{ 'headline.ui_translations'|trans({}, 'text') }}
                    </h2>
                </div>
            </div>

            {{ component('translations', {locales: locales, domains: domains, selectedLocale: locales[0], selectedDomain: domains[0], class: 'mt-3'}) }}
        </div>
    </section>
{% endblock %}
