{% extends 'base.html.twig' %}

{% block body %}
    <section>
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h2>
                        Add products to favorites
                    </h2>
                </div>
            </div>

            {{ component('favorite_products') }}
        </div>
    </section>
{% endblock %}
