<div {{ attributes.add(stimulus_controller('test')) }}>
    <div class="row">
        <div class="col-md-5">
            <h6>Products: {{ this.products|length }}</h6>
            <p>Selected products: {{ this.selectedProducts|length }}</p>
            <p>Test: {{ this.test }}</p>
            <div>
                <button class="btn btn-primary" {{ stimulus_action('test', 'toggleTest', 'click') }}>Change</button>
            </div>
            <div>
                <button class="btn btn-link" data-action="live#action" data-action-name="selectAll">
                    Select all
                </button>

                <button class="btn btn-link" data-action="live#action" data-action-name="removeSelected">
                    Remove selected
                </button>
            </div>
            <div class="d-flex flex-column gap-3">
                {% for product in this.products %}
                    <div class="bg-light p-3 rounded shadow d-flex gap-2 justify-content-start align-items-center">
                        <input type="checkbox" id="product-{{ product.id }}" data-model="selectedProducts[]" value="{{ product.id }}">
                        <label for="product-{{ product.id }}">{{ product.name }}</label>
                    </div>
                {% else %}
                    <div class="bg-light p-3 rounded shadow d-flex gap-2 justify-content-start align-items-center">
                        The list is empty.
                    </div>
                {% endfor %}
            </div>
        </div>

        <div class="col-md-2 pt-5">
            <div class="d-flex flex-column gap-3">
                <button
                        class="btn btn-success"
                        data-action="live#action"
                        data-action-name="addToFavorites"
                        {% if this.selectedProducts|length == 0 %}disabled{% endif %}
                >
                    <i class="fa fa-plus me-2"></i>Add
                </button>
                <button
                        class="btn btn-danger"
                        data-action="live#action"
                        data-action-name="removeFromFavorites"
                        {% if this.selectedFavoriteProducts|length == 0 %}disabled{% endif %}
                >
                    <i class="fa fa-minus me-2"></i>Remove
                </button>
            </div>
        </div>

        <div class="col-md-5">
            <h6>Favorite products: {{ this.favorites|length }}</h6>
            <p>Selected: {{ this.selectedFavoriteProducts|length }}</p>
            <div>
                <button class="btn btn-link" data-action="live#action" data-action-name="selectAllFavorites">
                    Select all
                </button>

                <button class="btn btn-link" data-action="live#action" data-action-name="removeSelectedFavorites">
                    Remove selected
                </button>
            </div>
            <div class="d-flex flex-column gap-3">
                {% for favorite in this.favorites %}
                    <div class="bg-light p-3 rounded shadow d-flex gap-2 justify-content-start align-items-center">
                        <input type="checkbox" id="favorite-{{ favorite.id }}" data-model="selectedFavoriteProducts[]" value="{{ favorite.id }}">
                        <label for="favorite-{{ favorite.id }}">{{ favorite.product.name }}</label>
                    </div>
                {% else %}
                    <div class="bg-light p-3 rounded shadow d-flex gap-2 justify-content-start align-items-center">
                        The list is empty.
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>