<div {{ attributes }}>
    <div class="row">
        <div class="col-md-12">
            <form class="row row-cols-lg-auto g-3 align-items-center justify-content-between mb-3" method="get">
                <div class="col-12 flex-grow-1">
                    <label class="sr-only" for="locales">{{ 'label.locale'|trans({}, 'form') }}</label>
                    <select
                            id="locales"
                            class="form-select"
                            data-model="selectedLocale"
                    >
                        {% for locale in locales %}
                            <option value="{{ locale }}">{{ locale }}</option>
                        {% endfor %}
                    </select>
                </div>

                <div class="col-12 flex-grow-1">
                    <label class="sr-only" for="domains">{{ 'label.domain'|trans({}, 'form') }}</label>
                    <select
                            id="domains"
                            class="form-select"
                            data-model="selectedDomain"
                    >
                        {% for domain in this.domains %}
                            <option value="{{ domain }}">{{ domain }}</option>
                        {% endfor %}
                    </select>
                </div>

                <div class="col-12 flex-grow-1">
                    <label class="sr-only" for="key">{{ 'label.key'|trans({}, 'form') }}</label>
                    <input
                            id="key"
                            type="text"
                            class="form-control"
                            placeholder="{{ 'placeholder.key'|trans({}, 'form') }}"
                            data-model="key"
                    >
                </div>

                <div class="col-12 flex-grow-1">
                    <label class="sr-only" for="text">{{ 'label.value'|trans({}, 'form') }}</label>
                    <input
                            id="text"
                            type="text"
                            class="form-control"
                            placeholder="{{ 'placeholder.value'|trans({}, 'form') }}"
                            data-model="text"
                    >
                </div>

                <div class="col-12">
                    <button
                            type="button"
                            class="btn btn-secondary"
                            data-action="live#action"
                            data-action-name="clear"
                    >
                        <i class="fa fa-remove"></i> {{ 'button.clear'|trans({}, 'form') }}
                    </button>
                </div>
            </form>
        </div>
    </div>

    <div class="row mt-3">
        <div class="col-md-12">
            <table class="table">
                <thead>
                <tr>
                    <th>{{ 'column.key'|trans({}, 'table') }}</th>
                    <th>{{ 'column.translation'|trans({}, 'table') }}</th>
                    <th>{{ 'column.translation_default_locale'|trans({'%locale%': this.defaultLocale}, 'table') }}</th>
                </tr>
                </thead>
                <tbody>
                {% for translation in this.translations %}
                    <tr>
                        <td>{{ translation.translationKey }}</td>
                        <td>
                            {{ component('translation', {
                                translationId: translation.id,
                                key: translation.translationKey,
                                text: translation.translationValue,
                                'data-live-id': 'translation-' ~ translation.id
                            }) }}
                        </td>
                        <td>[{{ this.defaultLocale }}]</td>
                    </tr>
                {% else %}
                    <tr>
                        <td colspan="3">{{ 'no_translations_were_found'|trans({}, 'table') }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>