<div {{ attributes }}>
    {% if this.editing == false %}
        <span {{ stimulus_controller('flashes', {flashes: app.flashes}) }}></span>
        {{ text }}
        <a
                href="#"
                data-action="live#action"
                data-action-name="prevent|setEditing(editing=1)"
        >
            <i class="fa fa-pencil-square-o fa-2x" style="cursor: pointer; font-size: 1.5em"></i>
        </a>
    {% else %}
            <div class="mb-3">
                <textarea class="form-control" data-model="norender|text">{{ this.text }}</textarea>
            </div>
            <button
                    type="button"
                    class="btn p-0"
                    data-action="live#action"
                    data-action-name="update"
            >
                <i class="fa fa-save" style="cursor: pointer; font-size: 1.5em"></i>
            </button>
            <a
                    href="#"
                    class="btn p-0"
                    data-action="live#action"
                    data-action-name="prevent|setEditing(editing=0)"
            >
                <i class="fa fa-window-close text-secondary" style="cursor: pointer; font-size: 1.5em"></i>
            </a>
    {% endif %}
</div>